body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('pesawat2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 420px;
    margin: 100px auto;
    background: rgba(0,0,0,0.65);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    background: gold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}